@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@600;700&family=Roboto:wght@500&family=Seymour+One&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./img/bgImg.jpg");
  background-size: cover;
  background-position: center;
}
